/* GENERALS STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* HEADER */

.nav-top {
    background-color: #0e84fb;
    height: 4.7rem; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.nav-top .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.nav-top ul {
    display: none;
}

.fa-bars {
    color: white;
    font-size: 1.8em;
    text-decoration: none;
}

/* VERSIONE DESKTOP */
@media screen and (min-width: 811px) {
    .hamburger {
        display: none;
    }

    .nav-top ul {
        display: flex;
        list-style: none;
        align-items: center;
        height: 100%;
        gap: 1rem;
    }
    
    .nav-top li{
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .nav-top .nav-link {
        display: flex;
        align-items: center;
        height: 100%; 
        color: white;
        font-size: 1.2em;
        text-decoration: none;
        font-weight: 300;
        padding: 0 1em;
    }
    
    li:hover .nav-link {
        background-color: aqua;
    }
    
    .btn{
        all: unset;
        background-color: white;
        border-radius: 25px;
        padding: 0.5rem;
        font-weight: 400;
        cursor: pointer;
    }
    
    .nav-top .btn:hover {
        background-color: rgb(86, 255, 176);
    }
}

/* VERSIONE TABLET */
@media screen and (min-width: 375px) {

}

/* VERSIONE MOBILE */
@media screen and (max-width:374px) {
    .container {
        max-width: 300px;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .centered {
        text-align: center;
    }
   
    .card {
        border-radius: 50px;
        margin: 3em 0;
        height: 100%;
        padding: 2em 1em;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    p {
        line-height: 1.8rem;
        font-weight: 600;
    }

    /* HEADER */

    .nav-top .container {
        flex-direction: row;
    }

    /* SEZIONE 1 */

    .card.sec1 {
        background-color: rgb(181, 221, 255);
        margin: 1rem auto;
    }

    .sec1 h1 {
        color: rgb(34, 149, 253);
        white-space: nowrap;
        font-size: 1.3rem;
    }
    
    .sec1 p {
        color: rgb(81, 99, 114);
        font-weight: 600;
    }
    
    .sec1 a{
        all: unset;
        background-color: rgb(0, 132, 253);
        color: white;
        border-radius: 25px;
        padding: 0.5rem 3rem;
        font-weight: 400;
        cursor: pointer;
        text-align: center;
        width: fit-content;
    }
    
    .sec1 img {
        position: relative;
        margin-bottom: -2rem;
        width: 100%;
    }
    
    .sec1 .blue-ico {
        color: rgb(14, 132, 251);
        font-size: 5rem;
    }
    
    /* SEZIONE 2 */
    
    section .sec2 {
        background-color: rgb(151, 146, 226);
        max-width: 100%;
        margin-top: 5rem;
    }

    .sec2 .card {
        margin: 0;
    }

    .sec2 h1 {
        color: white;
        white-space: nowrap;
        font-size: 2rem;
    }
    
    .sec2 p {
        color: white;
        font-weight: 400;
    }

    .sec2 .sub-card2 {
        background-color: white;
        align-items: center;
        text-align: center;
        margin: 0 auto 2rem;
    }

    .sec2 img {
        width: 100%;
    }
    
    .sub-card2 h1 {
        color: black;
        white-space: nowrap;
        font-size: 1.6rem;
    }

    .sub-card2 p {
        color: black;
        font-style: italic;
        font-size: 1.1rem;
    }

    .fa-arrow-down-long {
        color: black;
        background-color: rgb(151, 146, 226);
        width: fit-content;
        font-size: 1rem;
        border-radius: 100%;
        padding: 1rem;
    }

    /* SECTION 3 */

    .sec3.container {
        margin: 3rem auto;
        gap: 2rem;
    }

    .sec3 .card {
        margin: 0;
    }

    .sec3 h3 {
        text-transform: uppercase;
        font-weight: 400;
    }

    .sec3 h1 {
        font-weight: 600;
        font-size: 2rem;
        color: rgb(151, 146, 226);
    }

    .sec3 p {
        font-weight: 400;
        font-size: 1.1rem;
    }

    .sec3 img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100%;
        overflow: hidden;
    }

    .sec3 .testimonials {
        background-color: rgb(151, 146, 226);
        display: flex;
        align-items: center;
    }
    
    .sec3 .quotes {
        color: white;
    }

    .testimonials h3 {
        color: white;
        font-weight: 500;
    }

    /* SECTION 4  */

    .sec4.container {
        background-color: rgb(151, 146, 226);
        margin: 3rem 0;
        max-width: 100%;
        padding: 4em 2em;
        gap: 3rem;
    }
    
    .sec4 h1 {
        text-align: center;
        color: white;
        font-size: 1.8rem;
    }
    
    .sub-card4 {
        background-color: white;
        color: rgb(151, 146, 226);
        border-radius: 15px;
        padding: 2rem 2em;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .sub-card4 h1 {
        color: rgb(151, 146, 226);
        font-family:'Frank Ruhl Libre', serif;
        font-size: 3rem;
        text-align: left;
    }

    .sub-card4 p {
        color: rgb(122, 122, 122);
        font-size: 1rem;
        font-weight: 500;
        line-height: 25px;
    }

    .sub-card4 a {
        background-color: rgb(151, 146, 226);
        color: white;
        text-decoration: none;
        border-radius: 3rem;
        padding: 0.8rem 3rem;
        font-size: 1rem;
        font-weight: 500;
        width: fit-content;
    }

    /* SECTION 5 */

    .container.sec5 {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
    }

    .sec5 h1 {
        color: rgb(151, 146, 226);
        font-size: 2.5rem;
    }

    .sec5 p {
        font-weight: 400;
    }

    .sub-card5 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
    }

    .sub-card5 img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        overflow: none;
    }

    .sub-card5 .fa-quote-left {
        font-size: 4rem;
        color: rgb(151, 146, 226);
        position: absolute;
        top: 1rem;
        left: 160px;
    } 

    .sub-card5 h2 {
        color: rgb(151, 146, 226);
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .sub-card5 a {
        width: fit-content;
        background-color: rgb(151, 146, 226);
        color: white;
        text-decoration: none;
        border-radius: 3rem;
        padding: 0.5rem 1.2em;
        font-size: 1rem;
        font-weight: 300;
    }

    /* SECTION 6 */

    .container.sec6 {
        background-color: rgb(151, 146, 226);
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin: 0 0;
        max-width: 100%;
        align-items: center;
        padding: 4rem 2rem;
        color: white;
        text-align: center;
    }

    .sec6 h3 {
        text-transform: uppercase;
        color: rgb(211, 210, 242);
        font-weight: 300;
    }

    .sec6 h2 {
        font-size: 1.6rem;
        line-height: 2.3rem;
    }

    .sec6 h1 {
        color: rgb(252, 192, 97);
        font-size: 3.5em;
    }

    .sec6 p {
        font-size: 0.8rem;
        line-height: 1.5rem;
        font-weight: 400;
    }

    .sec6 a {
        width: fit-content;
        color: rgb(151, 146, 226);
        background-color: white;
        text-decoration: none;
        border-radius: 3rem;
        padding: 1rem 5em;
        font-size: 1rem;
        font-weight: 500;
    }

    .sec6 h5 {
        font-size: 0.8rem;
        font-weight: 400;
    }

    #privacy {
        all: unset;
        text-decoration: underline;
        font-size: 0.8rem;
        font-weight: 400;
    }

    /* FOOTER */

    .footer.container {
        background-color: rgb(50, 50, 50);
        max-width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 3rem 2rem;
        text-align: center;
        gap: 5em;
    }
    
    footer p {
        /* font-size: 0.9rem; */
        font-weight: 300;
        line-height: 1.2rem;
    }

    .footer a {
        color: rgb(151, 146, 226);
    }
}

