/* GENERALS STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* HEADER */

.nav-top {
    background-color: #0e84fb;
    height: 4.7rem; 
}

.nav-top .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.nav-top ul {
    display: none;
}

.fa-bars {
    color: white;
    font-size: 1.8em;
    text-decoration: none;
}

/* VERSIONE DESKTOP */
@media screen and (min-width: 811px) {
    .hamburger {
        display: none;
    }

    .nav-top ul {
        display: flex;
        list-style: none;
        align-items: center;
        height: 100%;
        gap: 1rem;
    }
    
    .nav-top li{
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .nav-top .nav-link {
        display: flex;
        align-items: center;
        height: 100%; 
        color: white;
        font-size: 1.2em;
        text-decoration: none;
        font-weight: 300;
        padding: 0 1em;
    }
    
    li:hover .nav-link {
        background-color: aqua;
    }
    
    .btn{
        all: unset;
        background-color: white;
        border-radius: 25px;
        padding: 0.5rem;
        font-weight: 400;
        cursor: pointer;
    }
    
    .nav-top .btn:hover {
        background-color: rgb(86, 255, 176);
    }
}



/* VERSIONE TABLET */
@media screen and (min-width: 375px) {

}

/* VERSIONE MOBILE */
@media screen and (max-width:374px) {
    .container {
        max-width: 300px;
        padding: 0;
    }
   
    .card {
        border-radius: 25px;
        margin: 3em 0;
        height: 100%;
        padding: 2em 1em;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .card.sec1 {
        background-color: rgb(181, 221, 255);
    }

    .sec1 h1 {
        color: rgb(34, 149, 253);
        white-space: nowrap;
        font-size: 1.3rem;
    }

    .sec1 p {
        color: rgb(81, 99, 114);
        font-weight: 600;
        line-height: 1.5rem;
    }

    .sec1 a{
        all: unset;
        background-color: rgb(0, 132, 253);
        color: white;
        border-radius: 25px;
        padding: 0.5rem 3rem;
        font-weight: 400;
        cursor: pointer;
        text-align: center;
        width: fit-content;
    }

    .sec1 img {
        position: relative;
        margin-bottom: -2rem;
    }

    .centered {
        text-align: center;
    }

    .sec1 .blue-ico {
        color: rgb(14, 132, 251);
        font-size: 5rem;
    }
}